<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>
    <Properties>
        <Property name="PATTERN">%highlight{[T#%03tid] [%d{yyyy-MM-dd HH:mm:ss.SSS}] [%level] [%c{1}] %m%n}{FATAL=Red, ERROR=red, WARN=yellow, INFO=white, DEBUG=bright,white, TRACE=black, VERIFY=blue, SKIP=yellow,STEP=magenta}</Property>
    </Properties>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="${PATTERN}" disableAnsi="false"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>